h2 {
    color: rgb(243, 188, 9);
    margin: 5px;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(8, 121, 115);
}

header {
    background-color: rgb(92, 13, 196);
    padding: 5px;
}

header div {
    width: 655px;
    margin: 0 auto;
}

.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    box-shadow: 3px 3px 5px  black;
  }
  
  .btn:active {
    box-shadow: 1px 1px 5px black;
    transform: translateY(2px) translateX(2px);
  }

.size {background-color: #4CAF50;} 
.size:hover {background-color: #46a049; }

.refresh {background-color: #2196F3;} 
.refresh:hover {background: #0b7dda;}

.black {background-color: black;} 
.black:hover {background: rgb(70, 64, 64);}

.rainbow {background-color: rgb(243, 33, 79);} 
.rainbow:hover {background: #adda0b;}

.gradual {background-color: rgb(143, 144, 145);color: #1d1e1f;} 
.gradual:hover {background: #1d1e1f; color: azure;}

#table {
 box-sizing: border-box;
 display: grid;
 width: 550px;
 height: 550px;
 margin: 5px auto;
}



